.container{
    height: inherit;
    background-color: #191919;
    text-align: center;
} 
.page{
    margin-top: 38px;
    box-shadow: 0 0 5px 0 #191919;
    width: 320px;
    height: 485px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}
.element{
    padding: 7px;
    position: absolute;
    display: inline-block;
    text-align: left;
    /* 内容禁止选择 */
    -webkit-user-select: none;
    user-select: none;
}
.remove-point{
    display: none;
    position: absolute;
    line-height: 0;
    top: -6px;
    right: -8px;
    color: #909090;
    cursor: pointer;
}
.active{
    border: 2px dotted #8aa7ff;
    padding: 5px;
}
.active>.right-bottom{
    bottom: -5PX;
    right: -5PX;
    cursor: se-resize;
}
.active>.right{
    top: 50%;
    right: -5PX;
    margin-top: -5PX;
    cursor: e-resize;
}

.active>.left {
    top: 50%;
    left: 5PX;
    margin-top: 5PX;
}
.active>.bottom {
    left: 50%;
    bottom: -5PX;
    margin-left: -6px;
    cursor: n-resize;
}
.active>.remove-point {
    display: block;
}
.active>.resize-point{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: red;
    position: absolute;
    cursor: move;
}
.full {
    width: 100%;
    height: 100%;
}
.text {
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
    word-wrap: break-word;
}
