.headBar{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    background-color: #292929;
    height: 40px;
    border-bottom-color: #292929;
}
.headBar :global .head_item{
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}


.headBar :global .active{
    background-color: #3b3b3b;
    color: #fff;
}